/*color choice #7289E8  #488C4E*/

/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap');

/*common setting*/
body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 0.75rem;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: "Lora", "Times New Roman", serif;
}

/*TABLET and DESKTOP*/
@media screen and (min-width: 30rem) {    
    body {
        font-size: 1rem;
    }
    
   #img {
        width: 25%;
   }    

   .nav-bar p {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid #000;
        text-align: center;
   }
}

/*set maximum width of container to be 60rem*/
.container, .main-content {
    max-width: 60rem!important;
}

/*----------------------------------------
masthead section
------------------------------------------*/
/*set masthead background image*/
.masthead {
    background-image: url("../img/background.jpg");
    min-height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

/*center text inside masthead*/
.center-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*----------------------------------------
main-content section
------------------------------------------*/
button {     
    background-position: center;
    background-size: cover;
    border: 2px solid #d9d9d9;
    text-shadow: 2px 2px #fff;  
    min-height: 80px; 
    font-weight: bold; 
}

/*set button background images*/
.solar {
    background-image: url("../img/sun.png");
}

.water {
    background-image: url("../img/water.png");
}

.wind {
    background-image: url("../img/wind.png");
}

/*----------------------------------------
footer section
------------------------------------------*/
/*define social media icon */
footer ul { 
    padding: 0; 
    margin-top: 30px; 
    padding-bottom: 40px;
}

footer ul li { 
    display: inline-block; 
    margin: 0 6.5px;
}

footer ul li a { 
    display: block; 
    width: 42px; 
    height: 42px; 
    background-color: #bbbbbb; 
    color: #FFF; 
    line-height: 42px; 
    font-size: 20px; 
    border-radius: 100%; 
    text-align: center;
}

footer ul li:hover a { 
    background-color: #007bff;
}

/*hr setting*/
/*set hr iin nav-bar and footer*/
.nav-bar hr {
    border-top: 8px solid #ccc !important;    
}

footer hr {
    margin-top: 3rem !important;
}

/*clear float*/
.clearboth {
    clear: both;
}

/*define button active setting*/
#active-button {
    box-shadow: 5px 10px 18px #888888;
    background-color: #7289E8;
}

#active-button:hover {
  background-color: #488C4E;
}



